<div ng-controller="mapController" class="map">
    <label>CreateBoundry:
        <input type="checkbox" ng-model="useBoundry">
    </label>
    <div ng-show="useBoundry">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
        <div id="type-selector" class="controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>
            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>
            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>
            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>
    </div>
    <div id="map-canvas" class="map"></div>
    <!--  <p>canvas here</p> -->
</div>