<div class='row'>
	<div class='col-md-12'>
		<div ng-controller="placesController">
			<!-- place item in the places menu --!>
			<div ng-repeat="place in places">
				<div class="row bottom-border">
					<!-- place id -->
					<div class='col-xs-1'>
						<div class='label label-primary'>
							{{place.id}}
						</div>
					</div>
					<!-- end place id -->
					<!-- place name -->
					<div class='col-xs-7'>
						<address>
							<strong>{{place.name}}</strong><br/>
							{{place.address}} 
						</address>
					</div>
					<!-- end place name -->
					<div class='col-xs-4'>
						<img class='img-responsive' src="{{place.iconPath}}"/>
					</div>
					<!-- end place name -->
				</div>
			</div>
			</div>
		</div>
</div>
