<div class='row'>
	<div class='col-md-12'>
		<!--<div ng-controller="placesController">-->
			<!-- place item in the places menu --!>
			<!--<div ng-repeat="place in places">-->
				<div class="row">
					<!-- place id -->
					<div class='col-xs-4'>
						<div class='circle'>
							1
							<!--{{place.id}}-->
						</div>
					</div>
					<!-- end place id -->
					<!-- place name -->
					<div class='col-xs-4'>
						<div class='row'>
							<h3>Blag</h3>
							<!--{{place.name}}-->
						</div>
						<div class='row'>
							<!-- TODO: place string truncation here -->
							blag
							<!--{{place.addr}} -->
						</div>
					</div>
					<!-- end place name -->
					<div class='col-xs-4'>
						<!--<img src="{{place.icon}}"/>-->
					</div>
					<!-- end place name -->
				</div>
			</div>
			<!--</div>-->
		<!--</div>-->
</div>
